body{
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
    font-family: helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}

:root {
    --backgroundcolorInverse: black;
    --backgroundcolor: white;
    --fontcolor: white;
    --fontinverse: black;
}

h1 {
    font-size: 300%;
    color: var(--fontcolor);
    margin-top: 3.5em;
    margin-bottom: 0em;
}

h4 {
    font-size: 150%;
    color: var(--fontcolor);
    margin: 0.5em 0em;
    font-style: oblique;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--backgroundcolor);
}

.Nav {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('assets/background4.jpg');
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    flex-wrap: wrap;
    width: 100%;
    --text: black;
    --text-inverse: white;
    z-index: 2;
}

.scroll {
    background-color: var(--backgroundcolorInverse);
    transition: 0.75s;
    box-shadow: 10px 0px 10px;
}

.unscroll {
    transition: 0.75s;
    color: var(--text-inverse);
}

.nav-links{
    display: flex;
    width: 50%;
    height: 50%;
    padding: 20px 20px;
}

.nav-link {
    list-style-type: none;
    width: 20%;
    color: var(--fontcolor);
}

input[type=text] {
  margin: 4px;
  padding: 12px 40px 12px 12px;
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
  background: none;
  color: white;
}

textarea {
    border-radius: 4px;
    border: 1px solid white;
    margin: 4px;
    padding: 12px 12px 40px 12px;
    width: 100%;
    background: none;
    color: white;
}

.submit-button, .nav-link, .logo{
    padding: 6px 30px;
    margin: 10px;
    transition-duration: 0.3s;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.submit-button {
    border: 2px solid white;
    padding: 8px 30px;
    border-radius: 4px;
    margin: 4px;
    background: var(--backgroundcolor);
    color: var(--fontcolor);
}

::placeholder {
    color: white;
    opacity: 0.8;
}

.submit-button:hover {
    background: var(--backgroundcolor);
    color: black;
}

#about {
    background-color: white;
}

.nav-link:hover{
    border-color: var(--text);
    color: var(--text);
    background: var(--text-inverse);
}

.ext {
    display: flex;
    transition: 0.4s;
    opacity:0.5;
}

.plug:hover .ext {
    opacity: 1;
}

.submit-button:disabled {
    cursor: not-allowed;
    opacity: 0.4;
    background: transparent;
    color: white;
}

.resume{
    width: 12%;
    height: 30px;
    padding: 6px 30px;
    margin-bottom: 3em;
    border-radius: 4px;
    border: 2px solid var(--backgroundcolor);
    color: var(--fontcolor);
    transition-duration: 0.3s;
    cursor: pointer;
    text-decoration: none;
}

.res-container {
    margin: 3em 0em;
}

.resume:hover {
    color: var(--fontinverse);
    border-color: var(--backgroundcolor);
    background-color: var(--backgroundcolor);
}

.logo {
    height: 35%;
    width: 5%;
    margin: 20px;
    display: flex;
}

.socials {
    width: 15%;
    margin-bottom: 4.75em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.arrow {
    margin-bottom: 4.25em;
}

form {
    height: 50%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20%;
}

.form-input {
    display: flex;
    width: 100%;
}

.top-row-form, .mid-row-form {
    display: flex;
}

.bottom-row-form {
    display: flex;
}

.App {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reason {
    width: 100%;
}

.footer {
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.feet {
    display: flex;
    padding: 10px;
    margin: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.secondary {
    margin-top: 2.5em;
    font-size: 300%;
}

h6 {
    width: 46%;
    font-size: inherit;
}

.intro, .prof, .interests {
    display: flex;
    flex-direction: column;
    padding: 13%;
}

.info {
    display: flex;
    padding-top: 3%;
}

.left {
    text-align: left;
    padding-left: 5%;
}

.right {
    text-align: right;
    padding-right: 5%;
}

.nav-ref {
    height: 1px;
    position: relative;
    top: 63rem;
}
